@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$gap: 10px;
// appbar + boardbar + boardcontent = 99vh , 1vh for scoll bar x 
$appbar-app-height: 5vh; 
$navbar-board-height: 6vh;
$board-content-height: 88vh;
// color
$board-bg-color: #0079bf;
$common-elemnt-bg:rgba(255,255,255, .24);